


<section class="bike">

  <h2>{{{what}}} {{{name}}}</h2>
    <div class="bike-body">
      <p class="indent-wrapped"><span class="where">Stolen from: </span>{{{where}}}</p>

      <p class="indent-wrapped"><span class="when">when: </span>{{{when}}}</p>

      <p class="indent-wrapped"><span class="Serial">Serial#: </span>{{{serial}}}</p>

      <p class="indent-wrapped"><span class="Owner">Contact: </span>{{{Owner}}}</p>



      <p>{{{details}}}</p>


      <!-- <p>{{image}}</p -->

      <img src="{{image}}">

    </div>









  </section>
