<section class="todo" style="background-Image: url({{image}})">

      <h2>{{{what}}} {{{name}}}</h2>
        <div class="todo-body">
          <p class="indent-wrapped"><span class="where">where: </span>{{{where}}}</p>

          <p class="indent-wrapped"><span class="when">when: </span>{{{when}}}</p>

          <p class="indent-wrapped"><span class="when">who: </span>{{{who}}}</p>

          <p>{{{details}}}</p>

          <p class="hidden">{{image}}</p>
        </div>

      </section>
